{% extends 'farmer/farmerdashboard.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-2 mb-4 text-center">Notifications</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date Sent</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                <tr>
                    <td>{{ notification.sender.username }}</td>
                    <td>{{ notification.title }}</td>
                    <td>{{ notification.content }}</td>
                    <td>{{ notification.date_sent }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No notifications.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
